.fotos img{
    width: 520px;
    height: 520px;
    object-fit: cover;
    margin: 20px 0;
}

.botoncalendario{
    height: 70px;
    margin-top: 200px;
}
.barra_nav {
    top: 0px;
    opacity: 0.7;
    animation-duration: 4s ;
}


.botones{
    justify-content :center;
}
 
.seis, .siete, .ocho{
    padding-block-start: 10px;
text-align: start;
}

.logo_nav {
    height: 70px;
}

.logo_whatsapp {
    top: 550px;
    left: 20px;
    height: 80px;

}

.video2{
    width: 600px;
}

.logo_contactanos {
    top: 550px;
    left: 1250px;
    height: 80px;
}


#boton_nombre{
    padding: 0px 10px 100px 10px;
    background-color: #ffffff;
}

.home:hover, .actividades:hover, .calendario:hover, .Tienda:hover, .galeria:hover {
    text-decoration: underline;
    font-weight: bold;
}

.logoinvertido {
    width:200px;
}

