.espacio {
    height: 100px;
}

.icono_compra {
    top: 200px;
    left: 10px;
    color: rgb(231, 20, 20);
}


.login{
    top: 200px;
    right: 20px;
    color: rgb(27, 231, 20);
}

.logout1{
    top: 300px;
    right: 20px;
    color: rgb(231, 20, 20);
}